<html>
<head>
    <link href='//fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="../static/script.js"></script>
</head>
<body>
    <h2>instasearch</h2>

    <!-- User Input -->
    <form id="user-input-form">
        Tag #: <input type="text" name="tag" id="tag">
        Start date: <input type="date" name="start_date" id="start_date">
        End date: <input type="date" name="end_date" id="end_date">      
        <button type="submit" id="submit">Search</button>
    </form>

    <!-- Picture div (dynamically populated with results) -->
    <div class="pictures" id="pictures"></div>

</body>
</html>